<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Hero - Authentication Tutorial</title>
    <script data-main="../../js/home" src="../../js/require.js"></script>
    <script>
      require.config({
        paths: {
          d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min"
        }
      });
    </script>
  </head>

  <body>
    {{{body}}}
  </body>
</html>