<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node Hero - Authentication Tutorial</title>
  <script data-main="../../js/home" src="../../js/require.js"></script>
  <script>
    require.config({
      paths: {
        d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min"
      }
    });
  </script>
</head>

<body>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
    <defs>
      <g id="icon-close">
        <path d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490s490-219.4,490-490C990,229.4,770.6,10,500,10z M658.5,705.8L499.9,547.2L342.3,704.8l-50.8-50.7l157.6-157.6L292.7,340l51-51l156.5,156.5L658,287.7l50.7,50.7L551,496.2l158.5,158.5L658.5,705.8z"
        />
      </g>
      <g id="icon-pause">
        <path d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490c270.6,0,490-219.4,490-490C990,229.4,770.6,10,500,10z M444.1,711.8h-99.4V314.2h99.4L444.1,711.8z M655.3,711.8h-99.4V314.2h99.4V711.8z"
        />
      </g>
      <g id="icon-play">
        <path d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490s490-219.4,490-490C990,229.4,770.6,10,500,10L500,10z M725.3,525L410.5,711c-3.6,2.1-7.6,3.2-11.6,3.2c-4,0-8-1-11.6-3.2c-7.2-4.3-11.6-12.1-11.6-20.6V318.2c0-8.5,4.4-16.4,11.6-20.6c7.2-4.3,16.1-4.3,23.3,0l314.8,186.1c7.2,4.3,11.6,12.1,11.6,20.6C736.9,512.8,732.5,520.7,725.3,525L725.3,525z"
        />
      </g>
      <g id="icon-sine">
        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
          <path d="M360.1,3650c-104-30-172.1-86-218.1-182.1l-42-86V106.8c0-2736.9,4-3287.1,28-3341.1c32-78,122-164.1,198.1-192.1c40-16,1460.5-22,4677.6-22c3835.3,0,4631.5,4,4685.5,28c86,34,190.1,156,204.1,236.1c6,36,8,1538.5,6,3339.1l-6,3271.1l-54,82c-28,44-86,96-130,118c-74,38-196.1,38-4677.5,42C2018.6,3670,406.1,3664,360.1,3650z M3311.1,2843.7c776.2-164.1,1510.5-1130.4,1960.7-2582.9c250.1-806.3,516.2-1356.5,866.3-1790.6c156-194.1,316.1-326.1,504.2-416.2c140-68,162.1-72,342.1-72s198.1,4,350.1,78c312.1,154,648.2,554.2,922.3,1100.4c124,250.1,286.1,632.2,356.1,848.3l34,104h308.1c280.1,0,308.1-4,308.1-34c0-62-196.1-614.2-312.1-880.3C8504.8-1827.8,7934.6-2458,7302.4-2622.1c-158.1-40-466.2-44-620.2-8c-160.1,38-424.2,166.1-578.2,280.1C5547.8-1935.9,5031.6-1057.6,4709.5,22.8c-230.1,774.3-616.2,1504.5-986.3,1872.6c-356.1,354.1-702.2,432.1-1078.4,246.1c-430.1-212.1-896.3-916.3-1226.4-1858.6l-56-160.1l-312.1-6c-268.1-4-310.1,0-310.1,26c0,16,36,140,82,276.1c340.1,1016.3,850.3,1824.6,1386.5,2192.7c134,94,376.1,202.1,520.2,232.1C2892.9,2879.7,3141,2879.7,3311.1,2843.7z"
          />
        </g>
      </g>
      <g id="icon-square">
        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
          <path d="M360.1,3650c-104-30-172.1-86-218.1-182.1l-42-86V106.8c0-2736.9,4-3287.1,28-3341.1c32-78,122-164.1,198.1-192.1c40-16,1460.5-22,4677.6-22c3835.3,0,4631.5,4,4685.5,28c86,34,190.1,156,204.1,236.1c6,36,8,1538.5,6,3339.1l-6,3271.1l-54,82c-28,44-86,96-130,118c-74,38-196.1,38-4677.5,42C2018.6,3670,406.1,3664,360.1,3650z M5321.7,422.9v-2450.8h1660.6h1660.5v1070.4V114.8l316.1-6l314.1-6l6-1386.5l4-1384.5H6982.3H4681.5v2460.8v2460.8H3021H1360.4V1183.2V112.8h-320.1H720.2v1380.5v1380.5H3021h2300.8V422.9z"
          />
        </g>
      </g>
      <g id="icon-triangle">
        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
          <path d="M360.1,3650c-104-30-172.1-86-218.1-182.1l-42-86V106.8c0-2736.9,4-3287.1,28-3341.1c32-78,122-164.1,198.1-192.1c40-16,1460.5-22,4677.6-22c3835.3,0,4631.5,4,4685.5,28c86,34,190.1,156,204.1,236.1c6,36,8,1538.5,6,3339.1l-6,3271.1l-54,82c-28,44-86,96-130,118c-74,38-196.1,38-4677.5,42C2018.6,3670,406.1,3664,360.1,3650z M5001.6,543C6082-733.5,6972.3-1779.8,6980.3-1781.8c6-2,384.1,424.1,840.3,946.3l826.3,948.3h310.1c170,0,306.1-8,302.1-18c-10-30-2264.8-2742.9-2278.7-2742.9c-6,0-898.3,1044.4-1978.7,2320.8C3919.3,949.1,3029,1993.4,3021,1993.4c-6,0-382.1-422.1-832.3-940.3l-818.3-938.3l-318.1-2H734.2l48,60C976.3,420.9,3013,2869.7,3023,2867.7C3029,2865.7,3919.3,1819.4,5001.6,543z"
          />
        </g>
      </g>
      <g id="icon-sawtooth">
        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
          <path d="M360.1,3650c-104-30-172.1-86-218.1-182.1l-42-86V106.8c0-2736.9,4-3287.1,28-3341.1c32-78,122-164.1,198.1-192.1c40-16,1460.5-22,4677.6-22c3835.3,0,4631.5,4,4685.5,28c86,34,190.1,156,204.1,236.1c6,36,8,1538.5,6,3339.1l-6,3271.1l-54,82c-28,44-86,96-130,118c-74,38-196.1,38-4677.5,42C2018.6,3670,406.1,3664,360.1,3650z M3985.3,759l6-2116.7L5009.6,759L6028,2873.7h318.1h316.1l2-2124.7v-2126.7l80,160.1c44,88,488.2,1042.3,986.3,2120.7l906.3,1960.6l312.1,6c174.1,2,314.1-2,314.1-10c0-10-584.2-1254.4-1298.4-2766.9L6666.2-2658.1h-316.1H6032l-10,2116.7l-10,2114.7L4991.6-547.4L3971.3-2668.1h-314.1h-316.1l-4,2130.7l-6,2132.7L2346.7-531.4l-984.3-2126.7l-314.1-6c-292.1-4-312.1-2-302.1,30c8,34,2496.8,5317.8,2564.9,5447.8l32,60h318.1h320.1L3985.3,759z"
          />
        </g>
      </g>
    </defs>
  </svg>

  {{{body}}}

  <div class="credit">
    Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0
  </div>
</body>

</html>