html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
}

div {
    flex-grow: 0;
    flex-shrink: 0;
}

.panel {
    display: inline-block;
}
