html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

button:focus {
    outline: 0;
}

.credit {
    text-align: center;
}

.track__header {
    text-align: center;
    background-color: turquoise;
    padding: 5px 0;
    margin-top: 2.5px;
}

.track__header-name {
    border: 0;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
    vertical-align: middle;
}

.track__delete-btn {
    background-color: transparent;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
    cursor: pointer;
}

.track__body.close {
    display: none;
}

.track__body {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: paleturquoise;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    background-color: teal;
}

.display {
    display: inline-block;
    flex-grow: 1;
}

.panel {
    display: inline-block;
}

.slider__container {
    display: flex;
    flex-direction: column;
}

.slider__container input {
    margin: 2px 10px;
    width: auto;
}

.slider {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.slider__title {
    display: block;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

.active {
    fill: turquoise;
}

.btn-group button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
}

.btn-group svg {
    width: 50px;
    height: 50px;
}

.wave-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wave-group svg {
    width: 40px;
    height: 40px;
    margin: 7px;
}

.add-track {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    font-size: 40px;    
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.add-track:focus {
    outline: none;
}